#popup-container {
  text-align: center;
  padding: 10px;
}

#extension-logo {
  max-width: 100px;
  margin-bottom: 15px;
}

#latex-search-bar {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: url('path_to_your_search_icon.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px; 
}


#latex-display-area {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 15px;
  overflow-y: auto;
}

#copy-to-clipboard {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-image: url('path_to_your_copy_icon.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 40px; 
}

#copy-to-clipboard:hover {
  background-color: #45a049;
}

#search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: -40px; /* Adjust as needed */
}

#search-button img {
  width: 24px; /* Match this with your icon's size */
  height: 24px;
}

